.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.piggo {
  opacity: .8;
  transition: 1s;
  border-radius: 100%;
}

.piggo:hover {
  animation: colorShiftImg 3s;
  opacity: 1;
  transform: scale(2) rotate(-360deg);
  z-index: 99
}

.menu-button {
  transition: 1s;
  opacity: .7;
  padding-top: 10px;
}

.menu-button:hover {
  margin-left: 30px;
  margin-bottom: 10px;
  animation: colorShiftImg 5s;
  opacity: 1;
  transform: scale(1.25);
}

.loader {
  min-height: 600px;
}

.profile-event-list {
  display: block;
  width: auto;
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.scrolling-page {
  display: block;
  width: auto;
  height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
  scroll-behavior: smooth;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-padding {
  padding: 10px
}

.text-margin {
  margin-top: 10px;
}


.parallax {
  background-image: url("http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1444253482/DG2015-new-york.jpg?itok=neFmsUY1");
  height: 950px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrolling-background {
  position:fixed;
  background:url("http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1444253482/DG2015-new-york.jpg?itok=neFmsUY1");
  -webkit-animation:200s scroll infinite linear;
  -moz-animation:200s scroll infinite linear;
  -o-animation:200s scroll infinite linear;
  -ms-animation:200s scroll infinite linear;
  animation:200s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.map-alignment {
  float: right;
  width: 100%;
  height: 600px;
  margin-bottom: 15px;
}

$font-family-default: 'Helvetica', sans-serif;

@function calc-responsive($value1, $width1, $value2, $width2) {
  $x1: $width1;
  $x2: $width2;
  $y1: $value1;
  $y2: $value2;
  $a: ($y2 - $y1) / ($x2 - $x1);
  $b: ($x2 * $y1 - $x1 * $y2) / ($x2 - $x1);
  @return calc(#{$a*100vw} + #{$b*1px});
}

.login-div {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 99;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -80px;
}

.button-login {
  font-family: $font-family-default;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  border-width: calc-responsive(1, 468, 2, 1920);
  border-style: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  transition: 1s;
  background-color: #383F51;
  /*border-color: #4C69BA;*/
  padding: 10px;
}

.list-map-icon {
  cursor: pointer;
}

.button-login:hover {
  -ms-animation:wiggle 2s infinite;
  -moz-animation:wiggle 2s infinite;
  -webkit-animation:wiggle 2s infinite;
  animation:wiggle 2s infinite;
}

@-ms-keyframes wiggle {
  0% { -ms-transform: scale(1.5) rotate(7deg); }
  10% { -ms-transform: scale(1.5) rotate(-7deg); }
  20% { -ms-transform: scale(1.5) rotate(7deg); }
  30% { -ms-transform: scale(1.5) rotate(-7deg); }
  40% { -ms-transform: scale(1.5) rotate(7deg); }
  50% { -ms-transform: scale(1.5) rotate(-7deg); }
  60% { -ms-transform: scale(1.5) rotate(7deg); }
  70% { -ms-transform: scale(1.5) rotate(-7deg); }
  80% { -ms-transform: scale(1.5) rotate(7deg); }
  90% { -ms-transform: scale(1.5) rotate(-7deg); }
  100% { -ms-transform: scale(1.5) rotate(7deg); }
}

@-moz-keyframes wiggle {
  0% { -moz-transform: scale(1.5) rotate(7deg); }
  10% { -moz-transform: scale(1.5) rotate(-7deg); }
  20% { -moz-transform: scale(1.5) rotate(7deg); }
  30% { -moz-transform: scale(1.5) rotate(-7deg); }
  40% { -moz-transform: scale(1.5) rotate(7deg); }
  50% { -moz-transform: scale(1.5) rotate(-7deg); }
  60% { -moz-transform: scale(1.5) rotate(7deg); }
  70% { -moz-transform: scale(1.5) rotate(-7deg); }
  80% { -moz-transform: scale(1.5) rotate(7deg); }
  90% { -moz-transform: scale(1.5) rotate(-7deg); }
  100% { -moz-transform: scale(1.5) rotate(7deg); }
}

@-webkit-keyframes wiggle {
  0% { -webkit-transform: scale(1.5) rotate(7deg); }
  10% { -webkit-transform: scale(1.5) rotate(-7deg); }
  20% { -webkit-transform: scale(1.5) rotate(7deg); }
  30% { -webkit-transform: scale(1.5) rotate(-7deg); }
  40% { -webkit-transform: scale(1.5) rotate(7deg); }
  50% { -webkit-transform: scale(1.5) rotate(-7deg); }
  60% { -webkit-transform: scale(1.5) rotate(7deg); }
  70% { -webkit-transform: scale(1.5) rotate(-7deg); }
  80% { -webkit-transform: scale(1.5) rotate(7deg); }
  90% { -webkit-transform: scale(1.5) rotate(-7deg); }
  100% { -webkit-transform: scale(1.5) rotate(7deg); }
}
@keyframes wiggle {
  0% { transform: scale(1.5) rotate(7deg); }
  10% { transform: scale(1.5) rotate(-7deg); }
  20% { transform: scale(1.5) rotate(7deg); }
  30% { transform: scale(1.5) rotate(-7deg); }
  40% { transform: scale(1.5) rotate(7deg); }
  50% { transform: scale(1.5) rotate(-7deg); }
  60% { transform: scale(1.5) rotate(7deg); }
  70% { transform: scale(1.5) rotate(-7deg); }
  80% { transform: scale(1.5) rotate(7deg); }
  90% { transform: scale(1.5) rotate(-7deg); }
  100% { transform: scale(1.5) rotate(7deg); }
}


.kep-login-facebook {
  @extend %button;

  &.small {
    padding: calc-responsive(5, 468, 10, 1920) calc-responsive(10, 468, 15, 1920);
  }

  &.medium {
    padding: calc-responsive(10, 468, 15, 1920) calc-responsive(15, 468, 20, 1920);
  }

  &.metro {
    border-radius: 0;
  }

  .fa {
    margin-right: calc-responsive(5, 468, 10, 1920);
  }

}


@keyframes colorShift {
  0%   { color: #FF1111; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1111, 0 0 70px #FF1111, 0 0 80px #FF1111, 0 0 100px #FF1111, 0 0 150px #FF1111; }
  10%  { color: #FFFF15; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFFF15, 0 0 70px #FFFF15, 0 0 80px #FFFF15, 0 0 100px #FFFF15, 0 0 150px #FFFF15; }
  30%  { color: #1177ff; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1177ff, 0 0 70px #1177ff, 0 0 80px #1177ff, 0 0 100px #1177ff, 0 0 150px #1177ff; }
  50%  { color: #FF9922; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9922, 0 0 70px #FF9922, 0 0 80px #FF9922, 0 0 100px #FF9922, 0 0 150px #FF9922; }
  70%  { color: #22ff22; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #22ff22, 0 0 70px #22ff22, 0 0 80px #22ff22, 0 0 100px #22ff22, 0 0 150px #22ff22; }
  90%  { color: #11FFFF; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #11FFFF, 0 0 70px #11FFFF, 0 0 80px #11FFFF, 0 0 100px #11FFFF, 0 0 150px #11FFFF; }
  100% { color: #FF1111; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1111, 0 0 70px #FF1111, 0 0 80px #FF1111, 0 0 100px #FF1111, 0 0 150px #FF1111; }
}

@keyframes colorShiftImg {
  0%   { filter: drop-shadow(0px 0px 0px #FF1111); }
  20%  { filter: drop-shadow(0px 0px 60px #FF1111); }
  30%  { filter: drop-shadow(0px 0px 60px #1177FF); }
  40%  { filter: drop-shadow(0px 0px 60px #1177FF); }
  50%  { filter: drop-shadow(0px 0px 60px #FF9922); }
  60%  { filter: drop-shadow(0px 0px 60px #FF9922); }
  70%  { filter: drop-shadow(0px 0px 60px #22FF22); }
  80%  { filter: drop-shadow(0px 0px 60px #22FF22); }
  90%  { filter: drop-shadow(0px 0px 60px #11FFFF); }
  100%  { filter: drop-shadow(0px 0px 60px #11FFFF); }
}

.menuitem {
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  /*vertical-align: baseline;*/
  background: #E0E1E2 none;
  color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

/*******************************
            States
*******************************/

/*--------------
      Hover
---------------*/

.menuitem:hover {
  background-color: #CACBCD;
  background-image: none;
  -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
